.container {
  text-align: center;
  margin-top: 100px;
}

h1, h2 {
  color: #333;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
}

.button-container {
  margin-top: 20px;
}

#surveyContainer {
  margin-top: 50px;
}

#questionNumber {
  font-weight: bold;
}

#question {
  margin-top: 20px;
}

#answerContainer {
  margin-top: 20px;
}

#thankYouContainer {
  margin-top: 50px;
}
